.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

div {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color:rgb(217, 239, 240);
  max-width: 600px;
  border-radius: 20px;
  margin: 10px auto;
}
ul {
  padding: 0px;
}
li {
  list-style-type: none;
}
span {
  text-align: left;
}
footer {
  max-width: 600px;
}
